@font-face {
    font-family: "DNFBitBitTTF";
    src: url("./assets/DNFBitBitTTF.ttf");
}

*{
    padding: 0;
    margin: 0;
    font-family: "DNFBitBitTTF", serif;
    user-select: none;
}
:root {
    /* color */
    --backgroundColor : rgb(42,42,42);
    --fovLabelColor : white;
}

.totalWrap {
    overflow: hidden;
}
.content{
    position: relative;
    display: flex;
    /* border-bottom: 1px solid gray; */

    height: 60vh;
    background-color: var(--backgroundColor);
}

#stage {
    position: relative;
    display: flex;
}
.playerFov {
    position: absolute;
    width: 10%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.FovBox {
    display: flex;
    width: 6em;
    height: 3em;

    margin-left: 1em;
    margin-bottom: 1em;
    
    filter: opacity(0.7);
}
.FovIcon {
    width: 3em;
    height: 3em;
    filter: brightness(0) invert(1) grayscale(1);
}
.FovLabel {
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    width: 11em;
    font-size: 1.5em;
    color: var(--fovLabelColor);

    transition: all ease 0.3s;
}

.characterStage {    
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-right: 1px solid gray; */
    width: calc(50vw - 1px);
    height: 100%;
}
.characterBox {
    position: relative;
    /* border: 1px solid deepskyblue; */
    width: 15em;
    height: 20em;
}
#enemy {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#enemyIntent {
    color: orange;
    font-size: 1.3em;
    margin-bottom: 3em;
    filter: opacity(0.5);
}
#enemySprite {
    position: absolute;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
    
    bottom: 10em;
    transform: scale(2.5);
}
.HPbar {
    position: absolute;
    display: flex;

    width: 100%;
    height: 1.3em;
    border-radius: 3px;
    bottom: 0;
    background-color: gray;
}
.HPLabel {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 1px;
    font-size: 1.2em;

    -webkit-text-stroke: 1px black;
    color: white;
    z-index: 3;
}
.HP {
    position: absolute;
    background-color: red;
    border-radius: 3px;

    height: 100%;
    transition: all ease 0.5s;
    z-index: 2;
}
.preHP {
    position: absolute;
    background-color: yellow;
    border-radius: 3px;

    height: 100%;
    transition: all ease 0.5s;
    z-index: 1;
}
.Debuff {
    width: 1.5em;
    height: 1.5em;
    filter: invert(58%) sepia(3%) saturate(0%) hue-rotate(143deg) brightness(89%) contrast(92%);

    margin-top: 0.5em;
    transition: all ease 0.3s;
    filter: opacity(0);
}

.cardSection {
    position: relative;
    display: flex;

    height: calc(40vh - 1px);
    background-color: var(--backgroundColor);
}
.manaWrap {
    position: absolute;
    margin-left: 1em;
    width: 13em;
    height: 2em;

    font-size: 1.5em;
    display: flex;
    align-items: center;

    background-color: rgb(61,61,61);
    padding-left: 1em;
    border-radius: 5px;
    clip-path: polygon(5% 0, 95% 0, 100% 30%, 100% 70%, 95% 100%, 5% 100%, 0% 70%, 0% 30%);
}
#manaIndex {
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 1.2em;
    margin-right: 0.5em;
}
.mana { 
    margin-right: 0.5em;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: aquamarine;
    width: 1.5em;
    height: 1.5em;
}
#hand {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
#cardIndex {
    position: absolute;
    bottom: 1em;
    right: 15em;
    width: 5em;
    height: 1em;

    text-align: center;
    font-size: 1.2em;
    color: white;
    -webkit-text-stroke: 1px black;
}
.card {
    position: relative;

    border-radius: 5px;
    width: 10em;
    height: 15em;

    margin: 0 -25px;
    background-color: darkgray;
    transition: transform ease 0.3s;

    cursor: pointer;
}
.cardName {
    position: absolute;
    top: 1.5em;
    left: 5%;
    width: calc(90% - 10px);
    height: 2em;
    font-size: 1.3em;
    padding: 5px;

    border-radius: 3px;
    background-color: lightgray;

}
.cardCost {
    position: absolute;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    font-size: 1.2em;
    width: 2em;
    height: 2em;
    top: -0.75em;
    left: -0.75em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aquamarine;
    -webkit-text-stroke: 1px lightgray;

}
.cardInfo {
    position: absolute;

    width: 85%;
    height: 55%;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    bottom: 0;
    left: 7.5%;

    font-size: 0.8em;
}
/* 타입에 따른 카드 색 변화 */
.attack {
    background-color: orange;
}
.defence {
    background-color: lightgray;
}
.magic {
    background-color: purple;
    color: white;
    -webkit-text-stroke: 1px black;
}
.spell {
    background-color: deepskyblue;
}

.btn {
    position: absolute;
    width: 10em;
    height: 5em;

    bottom: 2em;
    right: 2em;
}

.damage-text {
    position: absolute;
    right: 0;

    -webkit-text-stroke: 1px black;
    color: white;

    font-size: 2em;
    filter: opacity(0);
    transition: all ease 0.3s;
}
.enemyAbility {
    position: absolute;
    width: 100%;
    height: 12em;

    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enemyAbilityPanel {
    width: 35%;
    height: 12em;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.enemyAbilityText {
    color: red;
    font-size: 2em;
    text-align: center;
    -webkit-text-stroke: 1px lightgray;

    filter: opacity(0);
    transition: all ease 0.5s;
}
.enemyAbilityImg {
    position: absolute;
    width: 3em;
    height: 3em;

    top: 2em;
    right: 2em;
    cursor: pointer;
}

#playerEffect {
    position: absolute;
    width: 7em;
    height: 7em;

    z-index: 10;
    bottom: 4em;
    
    transform: rotate(180deg);
    filter: brightness(0) invert(1) grayscale(1);
    transition: all ease 0.1s;
    display: none;
}
.replaced-text {
    color: orangered;
}
.replaced-CriticalText {
    color: yellow;
}
#systemNotice { 
    position: absolute;

    color: orange;
    font-size: 2em;

    width: 100%;
    top: 45%;

    text-align: center;
    transition: all ease 0.3s;
    filter: opacity(0);
}
.turnEndBtn {
    position: absolute;
    right: 3em;

    width: 5em;
    height: 2em;

    font-size: 1.5em;
    cursor: pointer;
}
.shield {
    position: absolute;
    width: 2em;
    height: 2em;

    z-index: 15;
    left: -1em;
    top: -0.5em;

    display: none;
    justify-content: center;
    align-items: center;
}
.shieldLabel {
    position: absolute;
}
.shieldImg { 
    width: 100%;
    height: 100%;
    filter: invert(55%) sepia(0%) saturate(0%) hue-rotate(110deg) brightness(91%) contrast(90%);
    /* filter: invert(89%) sepia(0%) saturate(2%) hue-rotate(119deg) brightness(97%) contrast(92%); */
}
#volumeSlider {
    position: absolute;
    width: 20em;
    height: 2em;
    z-index: 999;
    
    cursor: pointer;
}
.buffSprite {
    position: absolute;
    left: -2em;
    bottom: 10em;
}
#tempBgm {
    position: absolute;
    top: 1.5em;
    width: 10em;

    font-size: 1.5em;
    cursor: pointer;
    z-index: 999;
}
